In [43]:
from csv import reader
open_file=open('hacker_news.csv')
read_file=reader(open_file)
hn=list(read_file)
headers=hn[:1]
hn=hn[1:]

In [44]:
hn[:5]

[['12224879',
  'Interactive Dynamic Video',
  'http://www.interactivedynamicvideo.com/',
  '386',
  '52',
  'ne0phyte',
  '8/4/2016 11:52'],
 ['10975351',
  'How to Use Open Source and Shut the Fuck Up at the Same Time',
  'http://hueniverse.com/2016/01/26/how-to-use-open-source-and-shut-the-fuck-up-at-the-same-time/',
  '39',
  '10',
  'josep2',
  '1/26/2016 19:30'],
 ['11964716',
  "Florida DJs May Face Felony for April Fools' Water Joke",
  'http://www.thewire.com/entertainment/2013/04/florida-djs-april-fools-water-joke/63798/',
  '2',
  '1',
  'vezycash',
  '6/23/2016 22:20'],
 ['11919867',
  'Technology ventures: From Idea to Enterprise',
  'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
  '3',
  '1',
  'hswarna',
  '6/17/2016 0:01'],
 ['10301696',
  'Note by Note: The Making of Steinway L1037 (2007)',
  'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
  '8',
  '2',
  'walterbell',
  '9/30/2015 4:12']]

In [45]:
headers

[['id', 'title', 'url', 'num_points', 'num_comments', 'author', 'created_at']]

In [46]:
import pandas as pd
df=pd.read_csv('hacker_news.csv')
df.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

# Segregate ask, show and other posts

In [47]:
ask_posts=[]
show_posts=[]
other_posts=[]
for row in hn:
    title=row[1]
    title1=title.lower()
    if title1.startswith('ask hn'):
        ask_posts.append(row)
    elif title1.startswith('show hn'):
        show_posts.append(row)
    else: other_posts.append(row)

In [48]:
no_ask=len(ask_posts)
no_show=len(show_posts)
no_other=len(other_posts)

In [49]:
print(no_ask)
print(no_show)
print(no_other)

1744
1162
17194

In [50]:
ask_posts[:5]

[['12296411',
  'Ask HN: How to improve my personal website?',
  '',
  '2',
  '6',
  'ahmedbaracat',
  '8/16/2016 9:55'],
 ['10610020',
  'Ask HN: Am I the only one outraged by Twitter shutting down share counts?',
  '',
  '28',
  '29',
  'tkfx',
  '11/22/2015 13:43'],
 ['11610310',
  'Ask HN: Aby recent changes to CSS that broke mobile?',
  '',
  '1',
  '1',
  'polskibus',
  '5/2/2016 10:14'],
 ['12210105',
  'Ask HN: Looking for Employee #3 How do I do it?',
  '',
  '1',
  '3',
  'sph130',
  '8/2/2016 14:20'],
 ['10394168',
  'Ask HN: Someone offered to buy my browser extension from me. What now?',
  '',
  '28',
  '17',
  'roykolak',
  '10/15/2015 16:38']]

In [51]:
show_posts[:5]

[['10627194',
  'Show HN: Wio Link  ESP8266 Based Web of Things Hardware Development Platform',
  'https://iot.seeed.cc',
  '26',
  '22',
  'kfihihc',
  '11/25/2015 14:03'],
 ['10646440',
  'Show HN: Something pointless I made',
  'http://dn.ht/picklecat/',
  '747',
  '102',
  'dhotson',
  '11/29/2015 22:46'],
 ['11590768',
  'Show HN: Shanhu.io, a programming playground powered by e8vm',
  'https://shanhu.io',
  '1',
  '1',
  'h8liu',
  '4/28/2016 18:05'],
 ['12178806',
  'Show HN: Webscope  Easy way for web developers to communicate with Clients',
  'http://webscopeapp.com',
  '3',
  '3',
  'fastbrick',
  '7/28/2016 7:11'],
 ['10872799',
  'Show HN: GeoScreenshot  Easily test Geo-IP based web pages',
  'https://www.geoscreenshot.com/',
  '1',
  '9',
  'kpsychwave',
  '1/9/2016 20:45']]

# Calculating Average comments

In [52]:
total_ask_comments=0
for row in ask_posts:
    comment=int(row[4])
    total_ask_comments+=comment
avg_ask_comments=total_ask_comments/len(ask_posts)

In [53]:
print(avg_ask_comments)

14.038417431192661

In [54]:
total_show_comments=0
for row in show_posts:
    comment_show=int(row[4])
    total_show_comments+=comment_show
avg_show_comments=total_show_comments/len(show_posts)

In [55]:
print(avg_show_comments)

10.31669535283993

# So Ask Posts received more comments on average than Show Posts

# Calculating Average points

In [56]:
total_ask_pts=0
for row in ask_posts:
    points=int(row[3])
    total_ask_pts+=points
avg_ask_pts=total_ask_pts/len(ask_posts)

In [57]:
total_show_pts=0
for row in show_posts:
    point_show=int(row[3])
    total_show_pts+=point_show
avg_show_pts=total_show_pts/len(show_posts)

In [58]:
print(avg_ask_pts)
print(avg_show_pts)

15.061926605504587
27.555077452667813

# Now on average, ask posts received less points than show posts.

In [59]:
import datetime as dt
result_list=[]
for i in ask_posts:
    result_list.append([i[6], int(i[4])])

In [60]:
result_list[:5]

[['8/16/2016 9:55', 6],
 ['11/22/2015 13:43', 29],
 ['5/2/2016 10:14', 1],
 ['8/2/2016 14:20', 3],
 ['10/15/2015 16:38', 17]]

In [61]:
counts_by_hour = {}
comments_by_hour = {}

date_format = "%m/%d/%Y %H:%M"

for row in result_list:
    date = row[0]
    comment = row[1]
    time = dt.datetime.strptime(date, date_format).strftime("%H")
    if time in counts_by_hour:
        counts_by_hour[time] += 1
        comments_by_hour[time] += comment
    else:
        counts_by_hour[time] = 1
        comments_by_hour[time] = comment

In [62]:
counts_by_hour

{'00': 55,
 '01': 60,
 '02': 58,
 '03': 54,
 '04': 47,
 '05': 46,
 '06': 44,
 '07': 34,
 '08': 48,
 '09': 45,
 '10': 59,
 '11': 58,
 '12': 73,
 '13': 85,
 '14': 107,
 '15': 116,
 '16': 108,
 '17': 100,
 '18': 109,
 '19': 110,
 '20': 80,
 '21': 109,
 '22': 71,
 '23': 68}

In [63]:
comments_by_hour

{'00': 447,
 '01': 683,
 '02': 1381,
 '03': 421,
 '04': 337,
 '05': 464,
 '06': 397,
 '07': 267,
 '08': 492,
 '09': 251,
 '10': 793,
 '11': 641,
 '12': 687,
 '13': 1253,
 '14': 1416,
 '15': 4477,
 '16': 1814,
 '17': 1146,
 '18': 1439,
 '19': 1188,
 '20': 1722,
 '21': 1745,
 '22': 479,
 '23': 543}

In [64]:
avg_by_hour = []
for hr in comments_by_hour:
    avg_by_hour.append([hr, comments_by_hour[hr] / counts_by_hour[hr]])

In [65]:
avg_by_hour

[['09', 5.5777777777777775],
 ['01', 11.383333333333333],
 ['00', 8.127272727272727],
 ['12', 9.41095890410959],
 ['03', 7.796296296296297],
 ['04', 7.170212765957447],
 ['16', 16.796296296296298],
 ['19', 10.8],
 ['02', 23.810344827586206],
 ['06', 9.022727272727273],
 ['11', 11.051724137931034],
 ['23', 7.985294117647059],
 ['15', 38.5948275862069],
 ['08', 10.25],
 ['14', 13.233644859813085],
 ['17', 11.46],
 ['05', 10.08695652173913],
 ['22', 6.746478873239437],
 ['20', 21.525],
 ['10', 13.440677966101696],
 ['07', 7.852941176470588],
 ['13', 14.741176470588234],
 ['18', 13.20183486238532],
 ['21', 16.009174311926607]]

In [66]:
swap_avg_by_hour=[]
for row in avg_by_hour:
    swap_avg_by_hour.append([row[1], row[0]])
swap_avg_by_hour

[[5.5777777777777775, '09'],
 [11.383333333333333, '01'],
 [8.127272727272727, '00'],
 [9.41095890410959, '12'],
 [7.796296296296297, '03'],
 [7.170212765957447, '04'],
 [16.796296296296298, '16'],
 [10.8, '19'],
 [23.810344827586206, '02'],
 [9.022727272727273, '06'],
 [11.051724137931034, '11'],
 [7.985294117647059, '23'],
 [38.5948275862069, '15'],
 [10.25, '08'],
 [13.233644859813085, '14'],
 [11.46, '17'],
 [10.08695652173913, '05'],
 [6.746478873239437, '22'],
 [21.525, '20'],
 [13.440677966101696, '10'],
 [7.852941176470588, '07'],
 [14.741176470588234, '13'],
 [13.20183486238532, '18'],
 [16.009174311926607, '21']]

In [67]:
sorted_swap = sorted(swap_avg_by_hour, reverse=True)

In [68]:
sorted_swap

[[38.5948275862069, '15'],
 [23.810344827586206, '02'],
 [21.525, '20'],
 [16.796296296296298, '16'],
 [16.009174311926607, '21'],
 [14.741176470588234, '13'],
 [13.440677966101696, '10'],
 [13.233644859813085, '14'],
 [13.20183486238532, '18'],
 [11.46, '17'],
 [11.383333333333333, '01'],
 [11.051724137931034, '11'],
 [10.8, '19'],
 [10.25, '08'],
 [10.08695652173913, '05'],
 [9.41095890410959, '12'],
 [9.022727272727273, '06'],
 [8.127272727272727, '00'],
 [7.985294117647059, '23'],
 [7.852941176470588, '07'],
 [7.796296296296297, '03'],
 [7.170212765957447, '04'],
 [6.746478873239437, '22'],
 [5.5777777777777775, '09']]

In [70]:
print("Top 5 Hours for 'Ask HN' Comments")
for avg, hr in sorted_swap[:5]:
    print(
        "{}: {:.2f} average comments per post".format(
            dt.datetime.strptime(hr, "%H").strftime("%H:%M"),avg
        )
    )

Top 5 Hours for 'Ask HN' Comments
15:00: 38.59 average comments per post
02:00: 23.81 average comments per post
20:00: 21.52 average comments per post
16:00: 16.80 average comments per post
21:00: 16.01 average comments per post